{% extends "base.html" %}
{% load tags %}

{% block title %} Список групп {% endblock %}

{% block header %}
    {% include "base_header.html" %}
{% endblock %}

{% block content %}
    <table>
        <tr >
            <td colspan="6"><a href="/add/">Добавить новую группу</a></td>
        </tr>
        <tr>
            <td>Название группы</td>
            <td>Кол-во человек</td>
            <td>Староста</td>
            <td colspan="3">Действия</td>
        </tr>

        {% if groups_list %}
            {% for group in groups_list %}
                <tr>
                    <td><a href="{{ group.id }}">{{ group.title }}</a></td>
                    <td>{{ group.student_set.count }}</td>
                    <td>{{ group.head_student }}</td>
                    <td><a href="/edit/{{ group.id }}">Редактировать</a></td>
                    <td><a href="{% edit_list group %}">Редактировать Admin</a></td>
                    <td><a href="/delete/{{ group.id }}">Удалить</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">В таблице нет записей</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}