{% extends "base.html" %}

{% block title %} Список студентов группы {% endblock %}

{% block header %}
    {% include "base_header.html" %}
{% endblock %}

{% block content %}
    <b>Группа:</b> <a href="/">{{ group_title }}</a>
    <table>
        <tr >
            <td colspan="5"><a href="add/">Добавить нового студента</a></td>
        </tr>
        <tr>
            <td>ФИО</td>
            <td>Дата рождения</td>
            <td>Номер студенческого</td>
            <td colspan="2">Действия</td>
        </tr>

        {% if students_list %}
            {% for student in students_list %}
                <tr>
                    <td>{{ student.fio }}</td>
                    <td>{{ student.birth_date }}</td>
                    <td>{{ student.number }}</td>
                    <td><a href="edit/{{ student.id }}">Редактировать</a></td>
                    <td><a href="delete/{{ student.id }}">Удалить</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">В таблице нет записей</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}